@use '@assets/scss/colors' as color;

.app-header {
  background: linear-gradient(180deg, color.$black-100, color.$gray-100);
  width: 100%;
  box-sizing: border-box;
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    padding: 0;
    margin: 10px 0;

    span {
      color: color.$cyan-500;
    }
  }

  &__title-icon {
    fill: color.$cyan-500;
    margin-right: 8px;
  }

  &__profile-btn {
    background-color: color.$red-100;
  }
}
