@use '@assets/scss/colors' as color;
@use '@assets/scss/typography' as typ;
@use '@assets/scss/mixins' as mixin;

.app-header {
  background: linear-gradient(
    180deg,
    rgba($color: color.$black-100, $alpha: 0.4) 30%,
    color.$gray-100
  );
  width: 100%;
  box-sizing: border-box;
  padding: mixin.toRem(8px) mixin.toRem(20px);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    @include mixin.flex(center, center);
    font-size: typ.$font-size--app-title;
    font-weight: typ.$font-weight--bold;
    padding: 0;
    margin: mixin.toRem(10px) 0;

    span {
      color: color.$cyan-500;
    }
  }

  &__title-icon {
    @include mixin.icon-dimensions(20px);
    fill: color.$cyan-500;
    margin-right: mixin.toRem(8px);
  }

  &__profile-btn {
    background-color: color.$red-100;
  }
}
