.user-input {
  flex: 1 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &__label {
    display: block;
    margin-bottom: 8px;
  }

  &__required-indicator {
    color: crimson;
    margin: 2px;
    font-size: 12px;
  }

  &__field {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid darkcyan;
    border-radius: 4px;
    background-color: #111;
    font-size: 14px;
    color: white;
    box-sizing: border-box;

    &:focus {
      outline: none;
      border-color: white;
    }
  }
}
