@use '@assets/scss/colors' as color;

.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: color.$gray-100;
  color: color.$white-100;
  padding: 20px;
  box-sizing: border-box;
  position: relative;

  &::before {
    content: '';
    width: 1px;
    height: 80%;
    position: absolute;
    background-color: color.$gray-400--op-53;
    left: calc(50% + 1px);
    top: 10%;
  }

  &__branding {
    width: 100%;
    height: 100%;
    flex: 1 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-spacing: 0 20px;

    &::before {
      content: 'Plan, Schedule, & Post.';
      position: absolute;
      max-width: 7ch;
      word-wrap: break-word;
      font-size: 3.2em;
      line-height: 1.1;
      font-weight: 900;
      color: color.$cyan-200--op-40;
      opacity: 0.1;
      top: 5%;
      left: 10%;
    }

    &::after {
      content: 'Let AI handle it!';
      position: absolute;
      font-size: 4em;
      line-height: 1.1;
      font-weight: 900;
      color: color.$cyan-200--op-40;
      opacity: 0.1;
      bottom: 10%;
      right: 10%;
    }
  }

  &__brand-illustration {
    width: 70%;
    height: 70%;
  }

  &__user-input {
    width: 100%;
    height: 100%;
    flex: 1 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__user-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 80px;
  }

  &__form-container {
    width: 100%;
    padding: 40px;
    border: 2px solid color.$cyan-500;
    border-radius: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }

  &__choice-separator {
    padding: 10px 0 20px;
    font-size: 16px;
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: '';
      background-color: color.$gray-600--op-52;
      border-radius: 1px 0 0 1px;
      width: 40%;
      height: 1px;
      position: absolute;
      left: 0;
    }

    &::after {
      content: '';
      background-color: color.$gray-600--op-52;
      border-radius: 0 1px 1px 0;
      width: 40%;
      height: 1px;
      position: absolute;
      right: 0;
    }
  }

  &__linkedin-button {
    width: 300px;
    padding: 10px;
    background-color: color.$blue-100;
    color: color.$white-100;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: color.$blue-200;
    }
  }

  &__signup-prompt {
    margin-top: 40px;
    column-gap: 1ch;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__signup-link {
    font-size: 18px;
    font-weight: 700;
  }

  @media (min-width: 768px) {
    &__form-container {
      padding: 30px;
    }
  }
}
