@use '@assets/scss/colors' as color;
@use '@assets/scss/typography' as typ;
@use '@assets/scss/mixins' as mixin;
@use '@assets/scss/variables' as var;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: typ.$font-primary;
  line-height: typ.$line-height--default;
  font-weight: typ.$font-weight--regular;

  color-scheme: light dark;
  color: color.$white-100;
  background-color: color.$black-400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: typ.$font-weight--medium;
  color: color.$cyan-400;
  cursor: pointer;
  text-decoration: inherit;
}
a:hover {
  color: color.$cyan-400;
  text-decoration: underline;
  text-underline-offset: var.$space-2;
}

body {
  margin: 0;
  background-color: color.$black-400;
  height: 100dvh;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: typ.$font-weight--bold;
  line-height: typ.$line-height--tight;
}

h1 {
  font-size: typ.$font-size--h1;
}

h2 {
  font-size: typ.$font-size--h2;
}

h3 {
  font-size: typ.$font-size--h3;
}

h4 {
  font-size: typ.$font-size--h4;
}

h5 {
  font-size: typ.$font-size--h5;
}

h6 {
  font-size: typ.$font-size--h6;
}

button {
  border-radius: var.$radius-md;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: typ.$font-weight--medium;
  font-family: inherit;
  background-color: color.$black-200;
  cursor: pointer;
  transition: border-color var.$transition-fast;
}
button:hover {
  border-color: color.$cyan-100;
}
button:focus,
button:focus-visible {
  outline: var.$space-2 auto mixin.hexa(color.$cyan-100, 0.7);
}

@media (prefers-color-scheme: light) {
  :root {
    color: color.$gray-500;
    background-color: color.$white-100;
  }
  a:hover {
    color: color.$cyan-100;
  }
  button {
    background-color: color.$white-200;
  }
}
