@use '@assets/scss/colors' as color;
@use '@assets/scss/typography' as typ;
@use '@assets/scss/mixins' as mixin;
@use '@assets/scss/variables' as var;

.user-input {
  @include mixin.flex(center, flex-start, column);
  flex: 1 0 auto;
  width: 80%;

  &__label {
    display: block;
    margin-bottom: var.$space-8;
  }

  &__required-indicator {
    color: color.$red-200;
    margin: var.$space-2;
    font-size: typ.$font-size--xs;
  }

  &__field {
    width: 100%;
    padding: var.$space-10 var.$space-14;
    border: 1px solid color.$cyan-400;
    border-radius: var.$radius-xs;
    background-color: color.$black-400;
    font-size: typ.$font-size--base;
    color: color.$white-100;
    box-sizing: border-box;

    &:focus {
      outline: none;
      border-color: color.$white-100;
    }
  }
}
