#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.app {
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.app-header {
  background: linear-gradient(to bottom, #000, #111);
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: baseline;
  align-items: flex-end;

  &__title {
    padding: 0;
    margin: 10px 0;

    text {
      color: darkcyan;
    }
  }

  &__title-icon {
    fill: darkcyan;
    margin-right: 8px;
  }
}
